<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contac Form</title>
</head>
<body>
    <p>This Is Contact Page And Model Demo</p>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Enter Your Name">
        <input type="email" name="email" placeholder="Enter Your Email ID">
        <input type="submit" name="submit">
    </form>
    {% if name and email %}
        <p>Name: {{name}}</p>
        <p>Email: {{email}}</p>
    {% endif %}
</body>
</html>